.post {
    margin-top: 10px;
} 
.text-color {
    color: black;
}
.card-margin {
    margin-left: 50px;
}
.img-post {
    width: 100%;
}
.resource {
    position: absolute;
    left: auto;
    right: 15px;
    bottom: 0;
    width: 200px;
    height: 65px;
}
.author {
    text-align: right;
}
.date {
    margin-left: 90px;
    margin-top: -10px;
    font-size: 12px;
}
.margin-top {
    margin-top: 20px;
}
.date1  {
    margin-left: 530px;
    margin-top: -10px;
    font-size: 12px;
}
.navlink {
    margin-left: -20px;
}
.link {
    padding-left: 15px;
}